 
  
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

body {
	margin: 0;
	padding: 0;
	background-color: #1d3557;
}

#container {
	position: absolute;
	padding: 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 8rem;
}

p{
    color: #fff;
    font-size: 100px;
}

button {
    margin-bottom: 50px;
	padding: 10px 40px;
	cursor: pointer;
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
}

.transparent {
	background: none;
	border: 3px solid #90e0ef;
	color: #90e0ef;
	transition: border 300ms ease, transform 800ms ease;
	border-radius: 50px;
}

.transparent:hover {
	transform: scale(1.05);
	border-color: #90e0ef transparent;
}

.transparent:active {
	transform: scale(0.9);
}
